# Supabase
# Get these from your Supabase project settings
SUPABASE_URL=https://ageombpphwobyrknmumk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZW9tYnBwaHdvYnlya25tdW1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2MzEzNDMsImV4cCI6MjA3MTIwNzM0M30.QNclX3dHU6YX3wUomCUxxPf-R0DVZnK6Qc9QaPQ980

# Cloudinary
# Get these from your Cloudinary dashboard
CLOUDINARY_CLOUD_NAME=dyul1mck2
CLOUDINARY_API_KEY=581317245515553
CLOUDINARY_API_SECRET=OHjEfVY9hs7DEcofb61Mkpmuz78